<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.cmbb.smartkids"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- umeng-analytics -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- umeng-analytics -->
    <!-- pgyer -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 读写sdcard，storage等等 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <!-- 获取logcat日志 -->
    <!-- pgyer -->
    <application
        android:name=".base.MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- umeng-analytics -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5538a77367e58e41e0000c09"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>
        <!-- umeng-analytics -->


        <!-- umeng-update -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService">
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <!-- umeng-update -->


        <!-- MengPhotoPicker -->
        <activity
            android:name="com.cmbb.smartkids.photopicker.PhotoPickerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.cmbb.smartkids.photopicker.PhotoPagerActivity"/>
        <!-- MengPhotoPicker -->
        <provider
            android:name=".provider.ProviderUserAccount"
            android:authorities="com.cmbb.smartkids.useraccount"
            android:enabled="true"
            android:exported="false"/>

        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
