<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.cmbb.smartkids"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- umeng-analytics -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- umeng-analytics -->
    <!-- umeng 推送 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- umeng 推送 -->
    <!-- pgyer -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 读写sdcard，storage等等 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <!-- 获取logcat日志 -->


    <!-- baidu -->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <!-- baidu -->
    <!-- pgyer -->
    <application
        android:name=".base.MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!-- umeng-analytics -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5538a77367e58e41e0000c09"/>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="86d804b234623b949528183d9ae65ede"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>
        <!-- umeng-analytics -->
        <!-- umeng-update -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService">
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <!-- umeng-update -->
        <!-- Baidu Location -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="yad43op0GDKnFliKgy5S1QX2"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>
        <!-- Baidu Location -->


        <!-- 友盟推送manifest必备 -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false">
        </receiver>
        <receiver
            android:name="com.umeng.message.SystemReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.MessageReceiver"
            android:exported="false"
            android:process=":push">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.ElectionReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4"/>

                <category android:name="umeng"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.RegistrationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.cmbb.smartkids.intent.action.COMMAND"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengMessageBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:label="PushService"
            android:process=":push">
            <intent-filter>
                <action android:name="com.cmbb.smartkids.intent.action.START"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.cmbb.smartkids.intent.action.COCKROACH"/>
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4"/>

                <category android:name="umeng"/>
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengIntentService"
            android:process=":push"/>
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="true"
            android:process=":push">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService"/>
            </intent-filter>
            <intent-filter>
                <action android:name="org.android.agoo.client.ElectionReceiverService"/>
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.unregistercallback.action"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.autoupdate.handler.action"/>
            </intent-filter>
        </service>
        <!-- V1.3.0添加的service，负责下载通知的资源 -->
        <service android:name="com.umeng.message.UmengDownloadResourceService"/>
        <!-- 友盟推送manifest必备 -->


        <!-- *************************    分享相关的注册 START **************************** -->
        <!-- 分享内容编辑页 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize"/>

        <!-- 腾讯SSO授权的Activity注册 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent100424468"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- 微信回调activity -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- *************************    分享相关的注册 END **************************** -->


        <!-- MengPhotoPicker -->
        <activity
            android:name=".photopicker.PhotoPickerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".photopicker.PhotoPagerActivity"/>
        <!-- MengPhotoPicker -->
        <provider
            android:name=".provider.ProviderUserAccount"
            android:authorities="com.cmbb.smartkids.useraccount"
            android:enabled="true"
            android:exported="false"/>

        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home">
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/FullScreen.Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GuideActivity"
            android:label="GuideActivity"
            android:theme="@style/FullScreen.Theme"/>
        <activity
            android:name=".activity.user.UserInfoActivity"
            android:label="@string/title_activity_user_info"
            android:parentActivityName=".activity.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmbb.smartkids.activity.HomeActivity"/>
        </activity>
        <activity
            android:name=".activity.user.UserAttentionActivity"
            android:label="@string/title_activity_user_attention"
            android:parentActivityName=".activity.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmbb.smartkids.activity.HomeActivity"/>
        </activity>
        <activity
            android:name=".activity.user.UserCollectionActivity"
            android:label="@string/title_activity_user_collection"
            android:parentActivityName=".activity.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmbb.smartkids.activity.HomeActivity"/>
        </activity>
        <activity
            android:name=".activity.user.UserPublishActivity"
            android:label="@string/title_activity_user_publish">
        </activity>
        <activity
            android:name=".activity.user.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name=".activity.setting.SettingDetailActivity"
            android:label="SettingDetailActivity">
        </activity>
        <activity
            android:name=".activity.SearcheActivity"
            android:label="SearcheActivity" >
        </activity>
        <activity
            android:name=".activity.login.LoginActivity"
            android:label="@string/title_activity_login"/>
        <activity
            android:name=".activity.login.PhoneVerifyActivity"
            android:label="PhoneVerifyActivity"/>
        <activity
            android:name=".activity.login.ForgetActivity"
            android:label="@string/title_activity_forget"/>
        <activity
            android:name=".activity.login.RegisterActivity"
            android:label="@string/title_activity_register"/>
        <activity
            android:name=".activity.user.UserActivity"
            android:label="@string/title_activity_user"
            android:parentActivityName=".activity.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmbb.smartkids.activity.HomeActivity"/>
        </activity>
        <activity
            android:name=".activity.post.PlateListActivity"
            android:label="@string/title_activity_post_list"
            android:parentActivityName=".activity.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmbb.smartkids.activity.HomeActivity"/>
        </activity>
        <activity
            android:name=".activity.post.PostWonderListActivity"
            android:label="@string/title_activity_post_list">
        </activity>
        <activity
            android:name=".activity.post.PostAgeListActivity"
            android:label="@string/title_activity_post_list">
        </activity>
        <activity
            android:name=".activity.post.PostCityListActivity"
            android:label="@string/title_activity_post_list">
        </activity>
        <activity
            android:name=".activity.tools.ToolsCaseActivity"
            android:label="急症室"/>
        <activity
            android:name=".activity.tools.ToolsMapActivity"
            android:label="导航帮助"/>
        <activity
            android:name=".activity.tools.ToolsSuggestionsActivity"
            android:label="育儿建议"/>
        <activity
            android:name=".activity.tools.ToolsSugDetailActivity"
            android:label="建议详情"/>
        <activity
            android:name=".activity.tools.ToolsVaccinationActivity"
            android:label="疫苗接种"/>
        <activity
            android:name=".activity.replay.ReplayWonderActivity"
            android:label="@string/title_activity_replay_wonder">
        </activity>
        <!--融云-->
        <!--begin rongcloud-->
        <activity
            android:name="io.rong.voipkit.activity.CallSideActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="io.rong.app"
                    android:pathPrefix="/VoIPCall"
                    android:scheme="rong"/>
            </intent-filter>
        </activity>

        <activity
            android:name="io.rong.voipkit.activity.CalledSideActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="io.rong.app"
                    android:pathPrefix="/VoIPAccept"
                    android:scheme="rong"/>
            </intent-filter>
        </activity>

        <service
            android:name="io.rong.push.PushService"
            android:process="io.rong.push">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>

                <action android:name="io.rong.push"/>
            </intent-filter>
        </service>
        <service
            android:name="io.rong.push.CommandService"
            android:process="io.rong.push">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>

                <action android:name="io.rong.command"/>
            </intent-filter>
        </service>

        <receiver
            android:name="io.rong.push.PushReceiver"
            android:process="io.rong.push">
            <intent-filter>
                <action android:name="io.rong.imlib.action.push.heartbeat"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="io.rong.imlib.HeartbeatReceiver"
            android:process=":ipc"/>


        <activity
            android:name="io.rong.imkit.tools.SelectPictureActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="io.rong.imkit.tools.PreviewPictureActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="io.rong.imkit.tools.RongWebviewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="io.rong.imkit.widget.provider.TakingPicturesActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name="io.rong.imlib.ipc.RongService"
            android:process=":ipc"></service>
        <service android:name="io.rong.imlib.ReConnectService"/>

        <receiver android:name="io.rong.imlib.ipc.PushMessageReceiver">
            <intent-filter>
                <action android:name="io.rong.push.message"/>
            </intent-filter>
        </receiver>
        <receiver android:name="io.rong.imlib.ConnectChangeReceiver"/>

        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="x4vkb1qpvr83k"/>

        <!--开发环境-->
        <activity
            android:name=".rong.RongActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="com.cmbb.smartkids"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="com.cmbb.smartkids"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data
                    android:host="com.cmbb.smartkids"
                    android:pathPrefix="/friend/"
                    android:scheme="rong"/>
            </intent-filter>


        </activity>
        <!--融云-->
    </application>

</manifest>
