<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.cmbb.smartkids.mbproject"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!--umeng-analytics-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--umeng-analytics-->

    <application
        android:name=".MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--umeng-analytics-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5538a77367e58e41e0000c09"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>
        <!--umeng-analytics-->

        <!--umeng-update-->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService">
        </service>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <!--umeng-update-->
    </application>

</manifest>
